@use '@/styles/mixin-font' as *;
@use '@/styles/mixin-breakpoints' as *;

.breadcrumb {
  display: block;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.375rem;
  @include text-size(xs);
  color: rgb(107, 114, 128);
  word-break: break-word;

  @include breakpoint(sm) {
    gap: 0.625rem;
  }
}

.breadcrumb-item {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
}

.breadcrumb-link {
  color: inherit;
  transition: color 0.2s;

  &:hover {
    color: #4f46e5;
  }
}

.breadcrumb-page {
  @include text-size(base);
  font-weight: 400;
  color: rgb(35, 34, 34);
}

.breadcrumb-separator {
  display: inline-flex;
  align-items: center;

  svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.breadcrumb-ellipsis {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}