@use '@/styles/mixin-breakpoints' as *;

$text-sizes: (
  xs: (0.75rem, 1rem),
  sm: (0.875rem, 1.25rem),
  md: (1rem, 1.5rem),
  lg: (1.125rem, 1.75rem),
  xl: (1.25rem, 1.75rem),
  2xl: (1.5rem, 2rem)
);

@mixin text-size($xs, $sm: null, $md: null, $lg: null, $xl: null, $xxl: null) {

  // xs — базовый размер
  @if map-has-key($text-sizes, $xs) {
    $size: map-get($text-sizes, $xs);
    font-size: nth($size, 1);
    line-height: nth($size, 2);
  }

  // sm
  @if $sm and map-has-key($text-sizes, $sm) {
    $size: map-get($text-sizes, $sm);

    @include breakpoint(sm) {
      font-size: nth($size, 1);
      line-height: nth($size, 2);
    }
  }

  // md
  @if $md and map-has-key($text-sizes, $md) {
    $size: map-get($text-sizes, $md);

    @include breakpoint(md) {
      font-size: nth($size, 1);
      line-height: nth($size, 2);
    }
  }

  // lg
  @if $lg and map-has-key($text-sizes, $lg) {
    $size: map-get($text-sizes, $lg);

    @include breakpoint(lg) {
      font-size: nth($size, 1);
      line-height: nth($size, 2);
    }
  }

  // xl
  @if $xl and map-has-key($text-sizes, $xl) {
    $size: map-get($text-sizes, $xl);

    @include breakpoint(xl) {
      font-size: nth($size, 1);
      line-height: nth($size, 2);
    }
  }

  // 2xl
  @if $xxl and map-has-key($text-sizes, $xxl) {
    $size: map-get($text-sizes, $xxl);

    @include breakpoint(2xl) {
      font-size: nth($size, 1);
      line-height: nth($size, 2);
    }
  }
}