@use "@/styles/mixin-breakpoints" as *;
@use "@/styles/mixin-interactive-flex" as *;
@use '@/styles/mixin-responsive-props' as *;

.carouselSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 3.5rem;

  @media (min-width: map-get($breakpoints, lg)) {
    row-gap: 3.5rem;
  }
}

.carouselBlock {
  width: 100%;

  @include flex-with-gap($justify: space-between,
    $align: center,
    $gap: 0.5rem);
}

.carouselSubtitle {
  font-weight: 600;
  font-size: 0.75rem;

  @media (min-width: map-get($breakpoints, md)) {
    font-size: 1.125rem;
  }

  @media (min-width: map-get($breakpoints, lg)) {
    font-size: 1.5rem;
  }

  @media (min-width: map-get($breakpoints, xl)) {
    font-size: 2.25rem;
  }

  @media (min-width: map-get($breakpoints, 2xl)) {
    font-size: 3rem;
  }
}

.linkDscr {
  .text-indigo-custom {
    color: #4338ca;
    font-weight: 500;
    font-size: 0.68rem;

    @media (min-width: map-get($breakpoints, md)) {
      font-size: 0.875rem;
    }

    @media (min-width: map-get($breakpoints, lg)) {
      font-size: 1.125rem;
    }

    @media (min-width: map-get($breakpoints, xl)) {
      font-size: 1.25rem;
    }

    @media (min-width: map-get($breakpoints, 2xl)) {
      font-size: 1.5rem;
    }
  }

}

.blockSpacing {
  margin-top: 1.25rem; // mt-5
  width: 100%; // w-full
  overflow: hidden; // overflow-hidden

  @media (min-width: map-get($breakpoints, md)) {
    margin-top: 2.5rem; // mt-10
  }

  @media (min-width: map-get($breakpoints, 2xl)) {
    margin-top: 3.5rem; // mt-14
  }
}

.carouselTrack {
  display: flex;
  width: 100%;
  margin-left: -0.3125rem;

  @include responsive-prop(flex-wrap, (xs:wrap, md:nowrap));

  @media (min-width: map-get($breakpoints, md)) {
    margin-left: -0.625rem;
  }

  @media (min-width: map-get($breakpoints, xl)) {
    margin-left: -0.875rem;
  }
}

.carouselItem {
  display: flex;
  flex-basis: 50%;
  scroll-snap-align: start;
  padding-left: 0.625rem;
  @include responsive-prop(max-width, (xs: 16rem, md: 10rem, lg:18.750rem, xl:26rem));

  @media (min-width: map-get($breakpoints, md)) {
    flex-basis: 33.333%;
    padding-left: 1.25rem;
  }

  @media (min-width: map-get($breakpoints, xl)) {
    padding-left: 1.75rem;
  }
}

.mainCard {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 0.375rem;
}