@use '@/styles/mixin-responsive-props' as *;
@use '@/styles/mixin-interactive-flex' as *;

.heroSection {
  width: 100%;


  @include flex-with-gap(null, $justify: space-between, $align: center);

  margin: 1.5rem 0; // my-6
  padding-top: 1rem; // py-4
  padding-bottom: 1rem;

  border-radius: 1rem; // rounded-2xl
  box-shadow: 0 0 15px #3736369a;

  // адаптивные отступы слева
  @include responsive-prop(padding-left, (xs: 0.5rem,
      sm: 1rem,
      md: 1.75rem,
      lg: 3rem));
  align-items: center;
  @include responsive-prop(flex-direction, (xs:column-reverse, md:row));
  @include responsive-prop(gap, (xs: 20px, md: none));
}

.heroSectionContent {
  width: 50%;

  @include flex-with-gap(0.5rem, $align: flex-start);
  flex-direction: column;

  padding-left: 0.5rem;

  @include responsive-prop(gap, (md: 1rem));
  @include responsive-prop(width, (xs: 70%, md: 50%));
  @include responsive-prop(align-items, (xs: center, md: start));

}

.heroSectionTitle {
  @include responsive-prop(font-size, (xs: 1rem,
      sm: 1.5rem,
      lg: 2.25rem,
      xl: 3rem));

  @include responsive-prop(line-height, (xl: 3.5rem));
  @include responsive-prop(text-align, (xs:center, md:start));
  padding-top: 0.5rem;
  color: #4caf50;
  font-weight: 600;
  width: 90%;
  @include responsive-prop(margin-bottom, (xs:0.5rem, md:0))
}

.heroSectionTitleBlack {
  color: #000;
}

.heroSectionSubtitle {
  @include responsive-prop(font-size, (xs: 0.6rem,
      sm: 1rem,
      lg: 1.25rem,
      xl: 1.5rem));
  @include responsive-prop(display, (xs: none, md: block));
}

.heroSectionSubtitleShort {
  @include responsive-prop(font-size, (xs: 0.6rem,
      sm: 1rem,
      lg: 1.25rem,
      xl: 1.5rem));
  @include responsive-prop(display, (xs: block, md: none));
}

.heroSectionButton {
  @include responsive-prop(font-size, (xs: 0.7rem,
      sm: 1rem,
      lg: 1.25rem,
      xl: 1.5rem));
  color: #fff;
  background-color: #4caf50;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;

  @include responsive-prop(padding-left, (xs: 0.8rem, sm: 1.5rem));
  @include responsive-prop(padding-right, (xs: 0.7rem, sm: 1.5rem));
  @include responsive-prop(padding-top, (xs: 0.5rem, sm: 0.5rem));
  @include responsive-prop(padding-bottom, (xs: 0.5rem, sm: 0.5rem));

  &:hover {
    background-color: #43a047;
  }

  &:active {
    background-color: #388e3c;
  }
}

.heroSectionImageBlock {
  height: 100%;

  @include flex-with-gap($justify: center,
    $align: center);
  @include responsive-prop(width, (xs: 80%, md: 50%));
}

.heroSectionImage {
  @include responsive-prop(width, (xs: 70%));
}